@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;
}

.noto-serif-font {
  font-family: 'Noto Serif', serif !important;
}

.noto-serif-font-italic {
  font-family: 'Noto Serif', serif !important;
  font-style: italic !important;
}



/******* INICIO DE SESIÓN *******/
.login-container {
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(3.7px) !important;
  -webkit-backdrop-filter: blur(3.7px) !important;
  z-Index: 1 !important;
}


.label-container-login {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.form-group {
  position: relative;
  overflow: visible;
}


.floating-label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  transition: all 0.2s ease;
  pointer-events: none;
}


.form-group:focus-within .floating-label,
.floating-input:not(:placeholder-shown)+.floating-label {
  top: -12px;
  left: 8px;
  font-size: 0.8rem;
  color: #243187;
}


/******* MENU *******/
.logo-text {
  font-size: 44px !important;
  color: #243187 !important;
  letter-spacing: 1.2px;
}

.logo-text a {
  text-decoration: none !important;
  color: inherit !important;
  font-family: "Great Vibes", cursive !important;
}

.custom-login-btn {
  border: 1.5px solid #243187;
  color: #243187;
  background-color: transparent;
  border-radius: 10px;
  padding: 4px 12px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.custom-login-btn:hover {
  background-color: #243187;
  color: white;
}

.menu-link {
  text-decoration: none !important;
  color: black;
  font-weight: 500;
}

.menu-link:hover {
  color: #243187 !important;
}

.logo-footer {
  font-size: 48px !important;
  color: #243187 !important;
  letter-spacing: 1.2px;
  font-family: "Great Vibes", cursive !important;
}

/******* HERO SECTION *******/

.hero-section {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-space {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;

}

.hero-title {
  font-size: clamp(2rem, 6vw, 5rem);
  line-height: 1.4;
}

.hero-subtitle {
  font-size: 1.3rem;
  color: #555;
  margin-top: 1rem;
  font-weight: 300;
  max-width: 60rem;
}

.font-great-vibes {
  font-family: 'Great Vibes', cursive;
  font-size: clamp(1.8rem, 7vw, 7rem);
  color: var(--bs-primary);

}

.font-size-hero {
  font-size: clamp(1.6rem, 4.5vw, 4.5rem);
  line-height: 1;
}

.hero-overlay .label-text {
  font-size: clamp(16px, 3vw, 32px);
  margin: 0;
  text-align: center;
}

.label-container:hover .label-img {
  content: url("../assets/Lab.png");

}

.label-container .label-text a {
  text-decoration: none !important;

}

.label-container:hover .label-text a {
  color: #ffffff !important;
}

/******* BEST SELLERS Y ÚLTIMAS NOVEDADES *******/
.book-card {
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  flex-direction: column;
}

.book-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.book-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-card {
  max-width: 230px;
}

.book-card .card-body .btn {
  margin-top: auto;

}

.book-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.custom-carousel-icon img {
  width: 40px !important;
  height: 40px !important;
  filter: drop-shadow(0 0 3px rgba(51, 31, 228, 0.5));
}

.custom-carousel-icon {
  width: 40px !important;
  height: 40px !important;
  display: inline-block;
}

.label-container {
  position: relative;
  display: inline-block;
}

.label-img {
  display: block;
  width: clamp(200px, 20vw, 363px);
  height: auto;

}

.label-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  letter-spacing: 1.1px;
  text-align: center;
  z-index: 2;
}

.label-text-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  letter-spacing: 1.1px;
  text-align: center;
  z-index: 2;
  font-size: clamp(16px, 3vw, 28px);
  pointer-events: none;
  font-family: 'Noto Serif', serif;
}

.label-container-section {
  position: relative;
  display: inline-block;
}

/******* ARTÍCULOS *******/
.card-article-title {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #243187 !important;
  font-family: 'Noto Serif', serif;
}

.article-detail-title {
  font-size: 2.5rem;
  letter-spacing: 0.4px;
  color: #243187 !important;
  font-family: 'Noto Serif', serif;
  text-align: center;
  margin-bottom: 1.5rem;
}

.get-back-link:hover {
  color: #1c1d27 !important;
  text-decoration: underline !important;

}

.card-img-top {
  height: 320px;
  object-fit: cover;
  width: 100%;
}

.hover-lift {
  will-change: transform, box-shadow;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.hover-lift:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/******* DETALLES DE LIBRO *******/
.book-detail-title {
  font-size: 2.5rem;
  letter-spacing: 0.4px;
  color: #243187 !important;
  font-family: 'Noto Serif', serif;
  margin-bottom: 1.5rem;
}

.book-detail-authors {
  font-size: 30px;
  color: #121212;
  margin-bottom: 25px;
  font-weight: 300;
}

.book-detail-image {
  width: 70%;
}

.synopsis-truncated {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 650px;
}

.comment-section-title {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #243187 !important;
  font-family: 'Noto Serif', serif;
  margin-bottom: 1rem;
}

textarea {
  resize: none !important;
  width: 500px !important;
  height: 150px !important;
  overflow: auto !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}


/******* PERFIL *******/
.profile-img {
  width: 100px !important;
  height: 155px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 1rem;
}

.delete-btn .icon-hover {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.delete-btn:hover .icon-hover {
  opacity: 1;
}

.delete-btn:hover .icon-default {
  opacity: 0;
}



/******* FOOTER *******/
footer .gmail-footer {
  font-size: 18px;
  color: #243187;
}

footer .gmail-footer a:hover {
  font-size: 18px;
  color: #17173c !important
}

.legal-text {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.legal-text p {
  margin-bottom: 1rem;
  text-align: justify;
}

.legal-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #222;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}

.legal-text h2 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #444;
}

/* ANIMACIÓNES */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
